
<div class="container">

	<h1> Project manager </h1>

	<div id="dropdown-buttons-menu"></div>

</div>


<%= render 'layouts/footer' %>	

<%= render 'templates/home_page_template' %>
<%= render 'templates/dropdown_buttons_menu_template' %>
