<script type="x-handlebars-template" id="adding-image-section-template">
	<h1>Add image to category - {{ category }}</h1>

	<form name="new_post_form" action="" method="GET">
		<label for="title">Title:</label>
	<input id="title" name="title" size="30" style="width:130px" type="text" />

		<label for="description">Description</label>
		<input id="description" name="description" size="100" style="width:130px" type="text" />

		<label for="url">URL</label>
		<input id="url" name="url" size="100" style="width:130px" type="text" />
			
		<br>	
		<input type="button" name="button" value="Save" onClick="useCase.addImage(this.form)">
	</form>
</script>