<script type="x-handlebars-template" id="header-template">
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div id="logo"> Project manager </div>

			<nav>				
				<ul class="nav pull-right">
					<div id="login-section"></div>
				</ul>
			</nav>

		</div>
	</header>
</script>