<script type="x-handlebars-template" id="login-section-template">
	<form name="login_form" action="" method="GET" class="form-inline">
		<input id="user_name" name="user_name" size="30" style="width:130px" type="text"
		placeholder="User name" class="input-small">

		<input id="password" name="password" size="30" style="width:130px" type="text"
		placeholder="Password" class="input-small">
			
		<input type="button" name="login" 
		value="Login" onClick="useCase.login(this.form)" class="btn btn-mini btn-inverse">

		<input type="button" name="register" 
		value="Register" onClick="useCase.showRegisterSection()" class="btn btn-mini btn-inverse">

	</form>
</script>