<script type="x-handlebars-template" id="login-section-template">
	<form name="login_form" action="" method="GET">
		<label for="user_name">User name:</label>
		<input id="user_name" name="user_name" size="30" style="width:130px" type="text" />

		<label for="password">Passowrd: </label>
		<input id="password" name="password" size="30" style="width:130px" type="text" />
			
		<br>	
		<input type="button" name="button" value="Login" onClick="useCase.login(this.form)">
	</form>
</script>